<div class="option-filters">
  <div class="option option-event">Asocimano</div>
  <div class="option option-event">Ascotema</div>

  <div class="option option-day">Mié 23</div>
  <div class="option option-day">Jue 24</div>
  <div class="option option-day">Vie 25</div>
  <div class="option option-day">Sáb 26</div>
</div>

<div class="act-list">
  <div class="act-time-range">11:30 - 14:30</div>
  <div class="act-detail">
    <section class="act-detail-header">Acá no sé que poner aún</section>
    <article class="act-detail-desc">
      This is the title of an activity to bla bla bla asd -fasfsafsadf  asdfasdfasfsadf asdfasdfasf asfdsafdas asddfasf asf sadf asf asfd asfd asf asf asdf 
    </article>
    <section class="act-detail-footer">
      Ubicación: Salón Fundadores
    </section>
  </div>
  <div class="act-detail">
    <section class="act-detail-header">Acá no sé que poner aún</section>
    <article class="act-detail-desc">
      This is the title of an activity to bla bla bla
    </article>
    <section class="act-detail-footer">
      Ubicación: Salón Fundadores
    </section>
  </div>
  <div class="act-detail">
    <section class="act-detail-header">Acá no sé que poner aún</section>
    <article class="act-detail-desc">
      This is the title of an activity to bla bla bla
    </article>
    <section class="act-detail-footer">
      Ubicación: Salón Fundadores
    </section>
  </div>
  <div class="act-detail">
    <section class="act-detail-header">Acá no sé que poner aún</section>
    <article class="act-detail-desc">
      This is the title of an activity to bla bla bla
    </article>
    <section class="act-detail-footer">
      Ubicación: Salón Fundadores
    </section>
  </div>
  <div class="act-detail">
    <section class="act-detail-header">Acá no sé que poner aún</section>
    <article class="act-detail-desc">
      This is the title of an activity to bla bla bla
    </article>
    <section class="act-detail-footer">
      Ubicación: Salón Fundadores
    </section>
  </div>
  <div class="act-detail">
    <section class="act-detail-header">Acá no sé que poner aún</section>
    <article class="act-detail-desc">
      This is the title of an activity to bla bla bla
    </article>
    <section class="act-detail-footer">
      Ubicación: Salón Fundadores
    </section>
  </div>
  <div class="act-detail">
    <section class="act-detail-header">Acá no sé que poner aún</section>
    <article class="act-detail-desc">
      This is the title of an activity to bla bla bla
    </article>
    <section class="act-detail-footer">
      Ubicación: Salón Fundadores
    </section>
  </div>
  
  <div class="act-time-range">14:30 - 18:30</div>
  <div class="act-detail">
    <section class="act-detail-header">Acá no sé que poner aún</section>
    <article class="act-detail-desc">
      This is the title of an activity to bla bla bla
    </article>
    <section class="act-detail-footer">
      Ubicación: Salón Fundadores
    </section>
  </div>
  <div class="act-detail">
    <section class="act-detail-header">Acá no sé que poner aún</section>
    <article class="act-detail-desc">
      This is the title of an activity to bla bla bla
    </article>
    <section class="act-detail-footer">
      Ubicación: Salón Fundadores
    </section>
  </div>
  <div class="act-detail">
    <section class="act-detail-header">Acá no sé que poner aún</section>
    <article class="act-detail-desc">
      This is the title of an activity to bla bla bla
    </article>
    <section class="act-detail-footer">
      Ubicación: Salón Fundadores
    </section>
  </div>
</div>