<div class="footer">
  <div class="container"> 
    <div class="row text-center">
      <div class="col-xs-3 home-icon">
        <a routerLink="/home">
          <i class="fa fa-home" aria-hdden="true"></i>
        </a>
      </div>
      <div class="col-xs-3 calendar-icon">
        <a routerLink="/schedule">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-xs-3 location-icon">
        <a routerLink="/location">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </a>	
      </div>
      <div class="col-xs-3 search-icon">
        <a routerLink="/search">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>